#app2 .tab-bar{
  display: flex;
  text-align: center;
}
#app2 .tab-bar li{
  outline: 1px solid green;
  flex-grow: 1;
}
#app2 .content li{
  display: none;
}
#app2 .content li.active{
  display: block;
}
#app2 .tab-bar li.active{
  background-color: grey;
  color: white;
}