*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
.page{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  
}
.page > section{
  width: 50vw;
  height: 50vh;
  outline: 1px solid blue;
  
}